extends layout

block content
    p
      | This is  a paragraph
      |  Another cool paragraph
      | The last line sir!
    p
      | What's up guys!
      - list = ["Rahul", "Tom", "Cruise"]
      ul
        for name in list
           li #{name}    
    input(type="button", value="Submit Request")

block sidebar    
    .widget
        h1 Widget
        p
            | Sidebat text.



- name = "Rahul"
if name == "Bob"
    h1 hI bOB
else if name == "Joe"
    h2 Hi Joe
else 
    h1 My name is #{name}

 p Home
 
- list = ["Rahul", "Chris", "Such", "Bill"]

ul
    each item in list
        li(value= item) #{item}
- i = 0

ul 
    while i < list.length
        li #{list[i]}
        li #{i}
        - i++
        

case name 
    when "Bob"
        p Hi there Bob!
    when "Rahul"
        p Hi there, Alice!
    when "Tom"
        p Hi there Tom!!
    default
        p Hell there, #{name}